<%= form_with model: article do |form| %>
    <div class="row mb-3">
      <div class="col-sm-4 col-form-label">
        <%= form.label :title %><br>
      </div>
      <div class="col-sm-9">
            <div class="row form-control">
              <%= form.text_field :title %>
              <% article.errors.full_messages_for(:title).each do |message| %>
              <div><%= message %></div>
              <% end %>
            </div>
      </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-4 col-form-label">
          <%= form.label :author %><br>
        </div>
        <div class="col-sm-9">
              <div class="row form-control">
                <%= form.text_field :author %>
                <% article.errors.full_messages_for(:author).each do |message| %>
                <div><%= message %></div>
                <% end %>
              </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-4 col-form-label">
           <%= form.label :body %><br>
        </div>
        <div class="col-sm-9">
          <div class="row form-control">
            <%= form.text_area :body %><br>
            <% article.errors.full_messages_for(:body).each do |message| %>
              <div><%= message %></div>
            <% end %>
          </div>
        </div>
    </div>
    <!-- "nested_attributes_of_image" -->
    <%= form.fields_for :images do |temimage|%>
      <div class="row mb-3">
          <div class="col-sm-4 col-form-label">
            <%= temimage.label :name, "Image Name" %><br>
          </div>
          <div class="col-sm-9">
            <div class="row form-control">
              <%= temimage.text_field :name %><br>
            </div>
          </div>
      </div>
      <div class="row mb-3">
          <div class="col-sm-4 col-form-label">
            <%= temimage.label :url, "URL" %><br>
          </div>
          <div class="col-sm-9">
            <div class="row form-control">
              <%= temimage.text_field :url %><br>
            </div>
          </div>
      </div>
      <div class="row mb-3">
          <div class="col-sm-4 col-form-label">
            <%= temimage.label :article_id, "Parent Article ID" %><br>
          </div>
          <div class="col-sm-9">
            <div class="row form-control">
              <%= temimage.number_field :article_id %><br>
            </div>
          </div>
      </div>
    <% end %>

  <div class="col-auto">
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>  