<h1 class="text-decoration-underline text-center"><%= @article.title %></h1>

<p class="text-center">Author:<%= @article.author %><br>
                      Body: <%= @article.body %>></p>



<div class="text-center">
 
    <li><%= link_to "Edit", edit_article_path(@article) %></li>
    <li><%= link_to "Delete", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</div> 




